<html>
<head>
<title>Chitter</title>
</head>

<body>
<header>
<h1>Welcome to Chitter</h1>

<% if current_user %>
  Welcome <%= current_user.name %>
<!--
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
-->
    <form method="post" action="/clear">
    <input type="submit" value="Log Out">
    </form>
<% end %>


<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were a few problems: 
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
<% end %>


</header>

<section>
<%= yield %>
</section>

</body>
</html>

