<h1>Please Enter Your Details Below</h1>

<form action="/sessions" method="post">
  Email: <input type="text" name='email'>
  Password: <input type="password" name='password'>
  <input type="submit" value="Login">  
</form>

</body>
</html>
